<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Annual salary:</strong>
    <%= employee.annual_salary %>
  </p>

  <p>
    <strong>Monthly income tax:</strong>
    <%= employee.monthly_income_tax %>
  </p>

</div>
