<!DOCTYPE html>
<html lang="en">
  <%= render 'home/header' %>
  <body>
    <%#= render 'home/navbar' %>
    <div class="container-fluid">
      <br/>
      <% if notice %>
        <%= render 'layouts/alerts' %>
      <% end %>
      <%= yield %>
    </div>
    <%# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> %>
  </body>
  <%#= render 'home/footer' %>
</html>